article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

input:focus {
  outline: none;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

.displayInlineBlock {
  display: inline-block;
}

.technicalDifficulties {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  cursor: pointer;
  background: #fdc600;
  background: -moz-radial-gradient(center, ellipse cover, #fdc600 0%, #fdc600 20%, white 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fdc600), color-stop(20%, #fdc600), color-stop(100%, white));
  background: -webkit-radial-gradient(center, ellipse cover, #fdc600 0%, #fdc600 20%, white 100%);
  background: -o-radial-gradient(center, ellipse cover, #fdc600 0%, #fdc600 20%, white 100%);
  background: -ms-radial-gradient(center, ellipse cover, #fdc600 0%, #fdc600 20%, white 100%);
  background: radial-gradient(ellipse at center, #fdc600 0%, #fdc600 20%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc600', endColorstr='#ffffff', GradientType=1 );
}

.technicalDifficulties p {
  width: 250px;
  text-align: center;
}

.technicalDifficulties img {
  border-radius: 50%;
}

.innerWrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

h1 {
  font-size: 11rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

p.restrictions {
  font-size: 0.8rem;
  position: relative;
  margin: 0;
  padding: 0;
}

p.smallText {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

span.redStar {
  color: red;
  font-size: 2rem;
  position: relative;
  top: 13px;
  padding-right: 5px;
}

.description p {
  position: relative;
  top: -15px;
}

.okButton1 {
  background: black;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.okButton1 i {
  position: relative;
  top: 2px;
  left: 2px;
}

.okButton1:hover {
  background: #E42149;
}

.noButton {
  background: red;
  color: white;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: inline-block;
  margin: 20px;
}

section.panel {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  min-height: 100vh;
  color: black;
  overflow: hidden;
  background: eggshell;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 20px solid black;
  border-left: 20px solid #0091E5;
  border-bottom: 20px solid #E42149;
  border-right: 20px solid #FFF146;
}

header .innerWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .innerWrapper h1 {
  mix-blend-mode: multiply;
}

header .innerWrapper .title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 160px;
}

header .innerWrapper .title1 {
  position: relative;
}

header .innerWrapper .title2 {
  position: relative;
}

header .innerWrapper p {
  max-width: 500px;
  line-height: 1.5;
}

header .innerWrapper a {
  color: black;
}

header .innerWrapper a:hover {
  background: #E42149;
}

header form {
  width: 100%;
  margin: 50px 0 10px 0;
}

header form input {
  width: 40%;
  height: 50px;
  line-height: 2.5;
  padding: 0;
  margin: 0 auto;
  border: 1px solid black;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  letter-spacing: -1px;
  color: black;
}

.blue {
  color: #0091E5;
  position: relative;
}

.red {
  color: #E42149;
  position: relative;
  top: -215px;
  left: 15px;
}

.yellow {
  color: #FFF146;
  position: relative;
  top: -415px;
  left: -9px;
}

section.yourLCBO {
  border: 20px solid #E42149;
}

section.yourLCBO .innerWrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section.yourLCBO #map {
  width: 100%;
  height: 85%;
}

section.yourLCBO .mapInfo {
  width: 100%;
  height: 15%;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

section.yourLCBO p {
  margin: 0;
  padding: 10px 20px;
}

section.yourBooze .innerWrapper {
  display: flex;
  flex-wrap: nowrap;
}

section.yourBooze .selectButtons {
  max-width: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

section.yourBooze .grey {
  width: 200px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

section.yourBooze .grey i {
  font-size: 1.5rem;
  padding-right: 15px;
}

section.yourBooze .grey:hover {
  background: #E5D73D;
}

section.yourBooze .green {
  width: 200px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

section.yourBooze .green:hover {
  background: #0091E5;
}

section.yourBooze .displayBooze {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.yourBooze .displayBooze h2 {
  text-align: center;
  margin: 0;
}

section.yourBooze .displayBooze p {
  width: 60%;
  text-align: center;
}

section.yourBooze .displayBooze .displayBoozeMain {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

section.yourBooze .displayBooze .displayBoozeText {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 950px) {
  h1 {
    font-size: 7rem;
    line-height: 0.6;
    max-width: 200px;
    margin: 0 auto;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  form.location {
    margin: 0;
  }
  header {
    border-top: 10px solid black;
    border-left: 10px solid #0091E5;
    border-bottom: 10px solid #E42149;
    border-right: 10px solid #FFF146;
  }
  header .innerWrapper p {
    max-width: 300px;
    font-size: 0.9rem;
  }
  header .innerWrapper .title {
    left: -70px;
  }
  header .innerWrapper .title1 {
    top: 30px;
  }
  header .innerWrapper .title2 {
    top: 10px;
  }
  header form input {
    width: 90%;
    max-width: 310px;
  }
  section.yourLCBO {
    border: 10px solid #E42149;
  }
  .red {
    top: -138px;
    left: 15px;
  }
  .yellow {
    top: -275px;
    left: -9px;
  }
}
